apiVersion: 1

datasources:
  - name: PostgreSQL (Teamview)
    type: postgres
    url: teamview-db:%%POSTGRES_PORT%%
    database: %%POSTGRES_DB%%
    user: %%POSTGRES_USER%%
    secureJsonData:
      password: %%POSTGRES_PASSWORD%%
    jsonData:
      sslmode: "disable" # disable/require/verify-ca/verify-full