.location-field {
  max-width: 4em;
}

.name-field {
  max-width: 9em;
}

.container {
  width: 100%;
  /* max-width: 600px; */
  /* border: 2px solid black; */
  margin: 0 auto;
  padding: 10px;
}

.row {
  /* height: 100px; */
  /* border: 2px solid blue; */
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

.col1 {
  /* border: 2px solid red; */
  width: 100%;
  height: 100%;
}

.col2 {
  /* border: 2px solid green; */
  width: 49%;
  float: left;
  height: 100%;
  margin-right: 2%;
}

.col2:last-child {
  margin-right: 0;
}

.col3 {
  /* border: 2px solid brown; */
  width: 32%;
  float: left;
  height: 100%;
  margin-right: 2%;
}

.col3:last-child {
  margin-right: 0;
}

.fadein-text {
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  display: inline-block;
}

.status-ok {
  background-color: #00ee00;
}

.status-error {
  background-color: #ee0000;
}

.status-outdated {
  background-color: #eeee00;
}

.status-unknown {
  background-color: #fff;
}

.status-working {
  animation: status-animation 0.7s infinite;
  animation-direction: alternate;
}

.text-black {
  color: #000;
}

.color-green {
  color: #3e6;
}

.color-blue {
  color: #4bf;
}

.color-gray {
  color: #666;
}

.color-white {
  color: #fafafa;
}

@keyframes status-animation {
  from {
    background-color: #fff;
  }

  to {
    background-color: #3ae;
  }
}

.hidden {
  display: none;
}