@import './vars.scss';

.location-field {
  max-width: 4em;
}

.name-field {
  max-width: 9em;
}

.fadein-text {
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

.report-details {
  font-size: 85%;
}

th.sortable {
  padding-right: 18px;
  position: relative;
  cursor: pointer;
}

th.sortable:before,
th.sortable:after {
  border: 4px solid transparent;
  content: "";
  display: block;
  height: 0;
  right: 5px;
  top: 50%;
  position: absolute;
  width: 0;
}

th.sortable:before {
  border-bottom-color: var(--tv-white);
  margin-top: -9px;
}

th.sortable:after {
  border-top-color: var(--tv-color-secondary);
  margin-top: 1px;
}