.location-field {
  max-width: 4em;
}

.name-field {
  max-width: 9em;
}

.fadein-text {
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  display: inline-block;
}

.status-ok {
  background-color: #00ee00;
}

.status-error {
  background-color: #ee0000;
}

.status-outdated {
  background-color: #eeee00;
}

.status-unknown {
  background-color: #fafafa;
}

.status-working {
  animation: status-animation 0.7s infinite;
  animation-direction: alternate;
}

@keyframes status-animation {
  from {
    background-color: #fff;
  }

  to {
    background-color: #3ae;
  }
}

.hidden {
  display: none;
}

.report-details {
  font-size: 85%;
}

th.sortable {
  padding-right: 18px;
  position: relative;
  cursor: pointer;
}

th.sortable:before,
th.sortable:after {
  border: 4px solid transparent;
  content: "";
  display: block;
  height: 0;
  right: 5px;
  top: 50%;
  position: absolute;
  width: 0;
}

th.sortable:before {
  border-bottom-color: var(--tv-white);
  margin-top: -9px;
}

th.sortable:after {
  border-top-color: #eee;
  margin-top: 1px;
}