@import './legacy.scss';
@import './vars.scss';
@import './flex.css';


.teamview {
  font-weight: 300;
  font-family: Yantramanav, Helvetica, sans-serif;
  // line-height: 1;
  color: #fff;
  font-size: 1.1em;

  h3,
  h4,
  h5,
  h6 {
    margin: 6px;
  }

  button {
    background-color: var(--tv-bg-secondary);
    color: var(--tv-color-primary);
    border: none;
    border-radius: 2px;
    box-shadow: 2px 2px 2px var(--tv-black);

    &:hover {
      filter: brightness(1.3);
    }

    .small {
      font-size: 1em;
    }

    .dot {
      margin-left: 1em;
    }

    div {
      align-items: center;
      justify-content: center;
    }
  }

  .content {
    background-color: var(--tv-bg-primary);
    border-radius: 3px;
    position: relative;
    padding: 5px 12px;

    .content .info {
      color: var(--tv-color-secondary);
      font-style: italic;
    }
  }

  .no-pr0game-table {
    border-spacing: 0;
    border-collapse: collapse;

    th {
      background-image: none;
      background-color: transparent;
      border: none;
    }

    td {
      background-image: none;
      background-color: transparent;
      border: none;
    }
  }
}

.dot {
  height: 0.8em;
  width: 0.8em;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.status-ok {
  background-color: var(--tv-green) !important;
}

.status-done {
  background-color: var(--tv-blue) !important;
}

.status-error {
  background-color: var(--tv-red) !important;
}

.status-outdated {
  background-color: var(--tv-yellow) !important;
}

.status-unknown {
  background-color: var(--tv-white) !important;
}

.status-working {
  animation: status-animation 0.7s infinite;
  animation-direction: alternate;
}

@keyframes status-animation {
  from {
    background-color: var(--tv-white);
  }

  to {
    background-color: var(--tv-blue);
  }
}