:root {
  --tv-danger: #ae660e;
  --tv-highlight: #00f4aa;
  --tv-error: #d72f00;
  --tv-bg-primary: #1e2b39;
  --tv-bg-secondary: #39495e;
  --tv-bg-tertiary: #506784;
  --tv-bg-input: #fafafa;
  --tv-color-input: #111111;
  --tv-color-primary: #ffffff;
  --tv-color-secondary: #dadada;
  --tv-blue: #00a7f5;
  --tv-green: #00d293;
  --tv-orange: #ae660e;
  --tv-yellow: #d7d700;
  --tv-red: #d72f00;
  --tv-gray: #666;
  --tv-white: #fafafa;
  --tv-black: #111;
  --tv-legacy-blue: #4bf;
  --tv-legacy-green: #00ee00;
  --tv-legacy-orange: #e93;
  --tv-legacy-yellow: #eeee00;
  --tv-legacy-red: #ee0000;
  --tv-legacy-gray: #666;
  --tv-legacy-white: #fafafa;
  --tv-legacy-black: #111;
}

.color-green {
  color: var(--tv-green) !important;
}

.color-blue {
  color: var(--tv-blue) !important;
}

.color-gray {
  color: var(--tv-gray) !important;
}

.color-white {
  color: var(--tv-white) !important;
}

.color-orange {
  color: var(--tv-orange) !important;
}

.color-yellow {
  color: var(--tv-yellow) !important;
}

.color-red {
  color: var(--tv-red) !important;
}

.color-black {
  color: var(--tv-black) !important;
}